@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button:hover {
  color: red;
}

.done {
  text-decoration: line-through;
}

.item {
  @apply py-3 border border-t-0 border-gray-700;
}

.item:first-child {
  @apply border-t rounded-t;
}

.item:last-child {
  @apply rounded-b;
}

.item.done {
  opacity: 0.5;
  text-decoration: line-through;
}
